# ===== OS =====
.DS_Store
Thumbs.db
*.swp

# ===== Secrets (JANGAN di-upload) =====
.env
.env.*
!.env.example

# ===== Build artifacts =====
node_modules/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.vscode/

# ===== Local data / runtime =====
*.log
pg_ojol/
pg_sock/

# ===== Editor =====
.idea/
