APP_NAME=OjolOnline
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ojol_online
DB_USERNAME=postgres
DB_PASSWORD=root123

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

JWT_SECRET=
JWT_TTL=60
JWT_REFRESH_TTL=20160
